In [1]:
import pandas as pd

In [2]:
clean_df = pd.read_csv("clean_movies.csv")

#### 1. Frequency statics table
* Mean
* Standard Deviation

In [5]:
clean_df.describe()

,year,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
count,81273.000000,81273.000000,81273.000000,8.127300e+04,12722.000000,74196.000000,70286.000000
mean,1993.007210,100.565981,5.926587,9.421771e+03,55.762695,43.753194,27.992758
std,23.992284,25.320189,1.243315,5.220245e+04,17.757453,159.903568,58.708764
min,1906.000000,40.000000,1.000000,9.900000e+01,1.000000,1.000000,1.000000
25%,1979.000000,88.000000,5.200000,2.060000e+02,43.000000,4.000000,3.000000
50%,2002.000000,96.000000,6.100000,4.950000e+02,56.000000,9.000000,8.000000
75%,2012.000000,108.000000,6.800000,1.865000e+03,69.000000,26.000000,24.000000
max,2019.000000,3360.000000,10.000000,2.159628e+06,100.000000,8302.000000,987.000000

In [10]:
clean_df.drop('metascore', axis=1,inplace=True)

In [13]:
clean_df.corr()

,year,duration,avg_vote,votes,reviews_from_users,reviews_from_critics
year,1.000000,0.150164,-0.213843,0.061409,0.068079,0.145183
duration,0.150164,1.000000,0.221752,0.111327,0.117187,0.132651
avg_vote,-0.213843,0.221752,1.000000,0.164838,0.142879,0.198265
votes,0.061409,0.111327,0.164838,1.000000,0.792243,0.674826
reviews_from_users,0.068079,0.117187,0.142879,0.792243,1.000000,0.697933
reviews_from_critics,0.145183,0.132651,0.198265,0.674826,0.697933,1.000000

In [11]:
clean_df.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

## TASK
### Since most continous variables have poor correlation, let us convert one nominal/ordinal variable to a continous categorical variable (Recoding to new variable).
##### i.e Convert the country and the genre to numerical categories e.g comedy to 1, thriller to 2... or USA - 1, Denmark to 3....

### Then run the corr method again